<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Hobbies</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../resources/css/style.css">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="home.html">Calvin.com</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="home.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="hobbies.html">Hobbies</a></li>
                    <li class="nav-item"><a class="nav-link" href="projects.html">Projects</a></li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="https://calvinandhobbes.webflow.io"><img src="..\resources\img\Icon.jpg" alt="Icon" width="30"></a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Hobbies Section -->
    <section class="container mt-4">
        <h2 class="text-center">My Hobbies</h2>
        <div class="row">
            <!-- Hobby Card 1 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="..\resources\img\Woodworking.jpg" class="card-img-top" alt="Hobby 1">
                    <div class="card-body">
                        <h5 class="card-title">Woodworking</h5>
                        <p class="card-text">I have been working since a kid. In the image is a cutting board I recently made. I enjoy the process of creation, especially with natural materials.</p>
                    </div>
                </div>
            </div>
            
            <!-- Hobby Card 2 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="..\resources\img\SFTD.jpg" class="card-img-top" alt="Hobby 2">
                    <div class="card-body">
                        <h5 class="card-title">Reading</h5>
                        <p class="card-text">This image shows one of my favorite books, "Speaker for the Dead" by Orson Scott Card. I enjoy science fiction because I get to experience the creative worlds that other have imagined, they both awe and inspire me. </p>
                    </div>
                </div>
            </div>
            
            <!-- Hobby Card 3 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="..\resources\img\Pottery.jpg" class="card-img-top" alt="Hobby 3">
                    <div class="card-body">
                        <h5 class="card-title">Pottery</h5>
                        <p class="card-text">I have been practicing the art of pottery since I was 10 years old, it is a deeply involved art that is highly rewarding. I enjoy throwing most of all, I could and have done it for hours on end. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Footer -->
    <footer class="text-center mt-4 p-3 bg-dark">
        <p>Connect with me:</p>
        <a href="https://www.linkedin.com/in/calvin-hawks/" class="text-decoration-none" target="_blank">LinkedIn</a> |
        <a href="https://github.com/CalvinHawks" class="text-decoration-none" target="_blank">GitHub</a>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
